body{
    background-color: #121212;
    color: #ffffff;
}
h1{
    color: #1ED760;
}
.top{
    display: flex;
    flex-direction: row;
    padding: 10px 100px;
    justify-content: space-between;
    align-items: center;
}
#profilePicture{
    border-radius: 100%;
    height: 100px;
    width: 100px;
}